{# 
/**
* admin.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}
<div class="text-justify">
    <h1 class="page-header">Pour les administrateur</h1>
        <h2>Liste des agents</h2>
        <p>
            Pour avoir la liste des tous les agents, cliquer sur le bouton Agents situé dans le menu principal. Vous tombez directement dans ce que vous voulez.
        </p>
        <h2>Ajouter un nouvel agent</h2>
        <p>
            Cliquer sur le bouton Ajouter un agent situé en dessous de la liste des agents ou cliquer sur le menu secondaire situé à gauche de la page.
            Entrer les informations concernant le nouvel agent, y compris le mot de passe. Dans le champ type d’utilisateur, vous avez le choix :
            <ul>
                <li>
                    <strong>Administrateur : </strong> Il aura le contrôle de l’application. Ajouter, supprimer, modifier tous les agents (utilisateurs), etc.
                </li>
                <li>
                    <strong>Agent : </strong> Il ne fera que signaler son arriver, son départ, modifier son nom, prénom, Email, mot de passe et il pourra consulter son journal.
                </li>
            </ul>
            Si vous avez terminé à remplir les champs, cliquer sur Enregistrer pour sauvegarder.
            Vous allez devoir à l’agent nouvellement enregistré, le nom d’utilisateur (username) ainsi que le mot de passe que vous mis lors de la création de son compte.        
        </p>
        <h2>Consulter les informations d’un agent</h2>
        <p>
            Rendez – vous à la liste des agents. Cliquer sur le bouton de couleur bleu dans la colonne Actions. C’est le premier bouton.
        </p>
        <h2>Modifier les informations d’un agent</h2>
        <p>
            Rendez – vous à la liste des agents. Cliquer sur le bouton de couleur vert. C’est le deuxième bouton, dans la colonne Actions sur la ligne de l’agent.
            Modifier ce que vous voulez modifier, puis cliquer sur Enregistrer pour sauvegarder.
            Si vous ne voulez pas modifier le mot de passe, laisser les deux cases vides <i>(mot de passe et confirmation du mot de passe)</i>.        
        </p>
        <h2>Supprimer un agent</h2>
        <p>
            Rendez – vous à la liste des agents. Cliquer sur le bouton de couleur rouge. C’est le troisième bouton. Vous devez ensuite valider la suppression en cliquant sur le bouton Supprimer. 
        </p>
        <h2>Consulter le journal d’un agent</h2>
        <p>
            Rendez – vous à la liste des agents. Cliquer sur le bouton de couleur orange. C’est le dernier bouton. Vous regardez maintenant le journal de cet agent.
        </p>
        <h2>Historique des présences</h2>
        <p>
            Cliquer sur le bouton Historique situé au menu principal. Vous avez l’historique d’aujourd’hui. Vous aurez ainsi un historique avec les heures où les actions se sont effectuées. 
            Pour consulter l’historique d’un autre jour, sélectionner la une date dans le formulaire à gauche de la page, puis cliquer sur le bouton Rechercher.        
        </p>
        <h2>Supprimer une signalisation</h2>
        <p>
            Pour différentes raisons, vous pouvez vouloir supprimer la signalisation d’un agent. Soit son arriver, soit son départ.
            Rendez – vous dans l’historique des présences puis cliquer sur le bouton x situé à droite de l’heure d’un agent.
            Vous devez alors confirmer la suppression en entrant votre mot de passe de connexion. Cliquer ensuite sur Valider pour confirmer l’opération.        
        </p>
</div>