{# 
/**
* apropos.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}
{% extends "layout.html" %}

{% block corps %}
    <h2 id="tledger">{{ software }}</h2>
    <p>
        {{ software }} est une application web développée par la {{ linkHtml('/skatek', 'SKATEK CORPORATION') }}, 
        un registre de présence servant de notifier les arrivés et les départs des agents
        ou personnels d’une entreprise et détermine aussi leur durée de travail.
    </p>
    <h2 id="droits-d-auteurs">Droits d'auteurs</h2>
    <p>
        <strong> {{ software }} </strong> n'est pas une application gratuite. C'est qui implique que vous devez payer les droits d'auteurs
        avant de pouvoir l'utiliser. Pour payer ces droits, veuillez {{ linkHtml('/skatek', "contacter la SKATEK CORPORATION") }} .
    </p>
    <p>
        Les droits que vous aurez de la {{ linkHtml('/skatek', 'SKATEK CORPORATION') }} vous permettrez seulement d'utiliser cette application. Vous ne pouvez pas le redistribuer sous une forme donnée sans l'autorisation de la {{ linkHtml('/skatek.net', 'SKATEK CORPORATION') }}, le propriétaire légitime.
    </p>
    <p>
        Vous n'avez pas non plus les droits pour modifier cette application ou toute autre produit <i>(Logiciels, Programmes, Sites Web, Documentations, Commentaires, etc.)</i> de la {{ linkHtml('/skatek.net', 'SKATEK CORPORATION') }} qui n'est pas disponible gratuitement et dont la {{ linkHtml('/skatek.net', 'SKATEK CORPORATION') }} n'a pas accordée une permission.
    </p>
    {{ parent() }}
{% endblock %}