{# 
/**
* manuel.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}
{% extends "layout.html" %}

{% block corps %}
    <div class="text-justify">
            <h2>Prise en main</h2>
            <p>
                Pour accéder à l’application  vous devez disposer d’un compte d’utilisateur
                fonctionnel. Ce compte vous est attribué par l’administrateur du système, 
                vous aurez droit à un nom d’utilisateur (<i>username</i>)  ainsi qu’un mot de passe
                pour pouvoir y accéder et  votre mot de passe vous permettra à chaque fois de 
                signaler votre arrivé ainsi que votre départ. 
            </p>
            <h2>Démarrer l’application</h2>
            <p>
                Pour démarrer l’application, vous devez vous rendre dans votre navigateur internet 
                (<i>Firefox, Chrome, etc.</i>) puis taper {{ linkHtml('https://tledger.skatek.net') }} vous 
                serrez automatiquement redirigé vers l’application.
                Vous pouvez aussi ouvrir la page d’accueil de l’application depuis votre bureau Windows. 
                Double cliquer sur l’icône {{ software }} App.            
            </p>
            <h2>Page des présences</h2>
            <p>
                Cliquer sur le bouton {{ linkHtml('/presences', 'Notifier ici', { target: '_blank' }) }} situé à la page d’accueil ou dans le bouton Notifier situé dans le menu principal. Dans le menu à gauche (sur les écrans large) ou dans la liste ne haut de page (sur les petits écrans), c’est la liste de tous les agents (utilisateurs) enregistrés.
            </p>
            <h2>Signaler l’arriver</h2>
            <p>
                Rendez – vous dans la page des {{ linkHtml('/presences', 'présences', { target: '_blank' }) }}, puis cliquer sur le bouton de couleur vert situé à droite de votre nom. Une page apparait, vous demandant d’entrer votre mot de passe. Taper votre mot de passe puis cliquer sur le bouton Signaler ou la touche Entrer de votre clavier. 
                Si le mot de passe est correctement entré et que vous n’avez pas encore signalé votre arriver aujourd’hui, vous allez voir votre nom apparaitre dans la liste des présences d’aujourd’hui, avec une mention très bien.            
            </p>
            <h2>Signaler le départ</h2>
            <p>
                Rendez – vous dans la page des présences, puis cliquer sur le bouton de couleur rouge à coté de votre nom. Entrer votre mot de passe puis valider en tapant sur la touche Entrer du clavier ou en cliquant sur le bouton Signaler.
                Si le mot de passe est correct et si vous aviez déjà signalé votre arriver, il y a une mention très bien qui apparait sur la ligne de votre nom dans la colonne départ.             
            </p>
            <h2>Bouton annuler</h2>
            <p>
                Le bouton annuler vous permet d’annuler l’action que vous voulez faire et vous redirige dans la page que vous venez.
            </p>
            <h2>Connexion</h2>
            <p>
                La connexion vous permet d’ouvrir votre espace d’utilisateur. Vous pouvez ainsi modifier certaines informations vous concernant, telles que votre nom, prénom, adresse email, votre mot de passe. Vous pouvez aussi consulter l’historique de vos présences en détails. <br>
        
                Pour vous connecter, cliquer sur le bouton connexion situé à droite du menu principal. Entrez ensuite vos informations de connexion : le nom d’utilisateur (username) ainsi que votre mot de passe. Puis cliquer sur connexion ou sur la touche Entrer du clavier.            
            </p>
            <h2>Déconnexion</h2>
            <p>
                Vous devez vous déconnecter pour fermer votre session. Notez cependant que l’application ne supporte pas la déconnexion automatique après un certain temps.
                Pour vous déconnecter, cliquer sur le bouton Déconnecter situé à droite du menu principal. Ce bouton est disponible si est seulement si vous êtes connecté.            
            </p>
            <h2>Mon journal de présence</h2>
            <p>
                Une fois connecté, le bouton Journal apparait dans le menu principal, à sa droite. Cliquer dessus. Vous avez ainsi votre Journal. 
                La liste est automatique triée, des dates récentes, aux dates ultérieurs. Vous pouvez vous quand est-ce-que vous êtes arrivé et parti un certain jour.            
            </p>
            <h2>Mon profil</h2>
            <p>
                Une fois connecté, cliquer sur le bouton Mon profil situé au menu principal, à sa droite. Vous avez ainsi vos informations de profil.
            </p>
            <h2>Modifier mon profil</h2>
            <p>
                Pour modifier votre profil, commencer par aller dans Mon profil, puis cliquer sur le bouton Modifier le profil situé en bas du tableau contenant vos informations.
                Modifier ensuite les informations, puis cliquer sur enregistrer.
                Si vous ne voulez pas modifier votre mot de passe, veuillez laisser les deux cases vides (mot de passe et confirmation du mot de passe).            
            </p>
    </div>
    {% if currentUser('role') == 'admin' %}
        {% include "admin.html" %}        
    {% endif %}

    {{ parent() }}
    
{% endblock corps %}