{# 
/**
* add.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}

{% extends 'layout.html' %}

{% import 'form.html' as form %}
{% import "modal" as modal %}

{% block css %}
    {{ cssHtml('croppic') }}
    {{ jsHtml('croppic') }}
{% endblock %}

{% block corps %}
<br>
<form action="{{ current_page }}" method="post">
    <div class="row">
        <div class="form-group">
            <div class="col-md-6" id="boutons">
                <a href="#" class="btn btn-primary" id="photo_btn" data-toggle="dropdown">
                    {{ icon('picture') }} Prendre une photo <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="capture">{{ icon('camera') }} Prendre une photo</a> </li>
                    <li><a href="#" id="profile_btn">{{ icon('picture') }} Charger une photo</a></li>
                </ul>              
            </div>
            <div class="col-md-6" id="affichage">
                <div class="profile" id="profile" style="display: none; height: 320px; width:100%; border: 2px solid #022a50;"></div>
                <span id="annul" style="display:none; margin-top: -45px;" class="btn btn-danger btn-block"> {{ icon('remove') }} Annuler</span>
            </div>
            <input type="hidden" name="photo" id="photo">
            <div class="clearfix"></div>
        </div>
        {{ form.input('nom', "Nom", user.nom, { ph: "Nom de l'agent", rq: true }) }}
        {{ form.input('prenom', "Prénom", user.prenom, { ph: "Prénom de l'agent", rq: true}) }}
        {{ form.input('password', "Mot de passe", null, { type: 'password', ph: "Mot de passe" }) }}
        {{ form.input('confirm_password', "Confirmation mot de passe", null, { type: 'password', ph: "Mot de passe de confirmation" }) }}
       
        {# Champs reserver a non agent #}
        {% if currentUser('role') != R_AG %}
            {{ form.input('username', "Nom d'utilisateur", user.username, { rq: true, ph: "Nom d'utilisateur (pour la connexion)" }) }}
            {{ form.input('fonction', "Fonction de l'agent", user.fonction, { rq: true, ph: "Fonction de l'agent" }) }}        
            {{ form.select('role', "Type d'utilisateur", roles, user.role, { rq: true }) }}
        {% endif %}
        {{ form.input('email', "Email", user.email, { type: 'email', ph: "Adresse E-mail" }) }}
        {{ form.input('phone', "Telephone", user.phone, { type: 'phone', ph: "Numero de telephone" }) }}
        {{ form.input('adresse', "Adresse", user.adresse, { ph: "Adresse" }) }}

        {# Pour R_MA et R_GE #}
        {% if(currentUser('role') == R_MA or currentUser('role') == R_GE) %}
            {{ form.select('entreprise_id', "Entreprise", entreprises, entreprise_id) }}
        {% endif %}

        
        
        
        <div class="form-group col-md-12">
            <hr>
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-save"></i>
                Enregistrer
            </button>
            {{ linkHtml('/users', "Annuler" | icon('arrow-left'), { class: "btn btn-danger"}) }}
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    idname = 'profile'
    profilb = 'profile_btn'
    var photoOptions = {
        uploadUrl:'{{ url("/picture_save") }}',
        cropUrl:'{{ url("/picture_crop") }}',
        imgEyecandy:false,
        onBeforeImgUpload: function(){
            $('#affichage').show();
        },
        customUploadButtonId: profilb,
        doubleZoomControls:false,
        loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
        onAfterImgUpload: function(){ $('#' + idname).fadeIn(); },
        onReset: function(){ 
            $('#' + idname).hide(); $('#' + profilb).show();
            $('.cropControlCrop').attr({
                title: "Rogner l'image",
                rel  : 'tooltip'
            }); $('.cropControlReset').attr({
                title: "Supprimer cette image",
                rel  : 'tooltip'
            }); $('#photo').val(''); $('#boutons').fadeIn();
        },
        onAfterImgCrop: function(e) { 
            $('#' + profilb).hide(); $('#boutons').hide();
            $('.cropControlRemoveCroppedImage').attr({
                title: "Supprimer cette image",
                rel  : 'tooltip'
            });
            $('#photo').val(e.name);
        },
        onError: function(e) { alert('Erreur: ' + e); }
    };
    var photo = new Croppic(idname, photoOptions);
    </script>
{% endblock %}

{% block beforefooter %}
    {{ modal.set('Prendre une photo', '<div class="row" id="captureZone" style="width:100%; margin:0;padding:0;"></div> <div id="charr" style="display:none;"></div><hr><div class="col-md-3 hidden btn btn-primary" id="reset-camera"><i class="glyphicon glyphicon-camera"></i> Camera</div><div class="pull-right col-md-12 btn btn-info text-center" id="capture_link"><i class="glyphicon glyphicon-camera"></i> Prendre une photo</div><div id="annuler" class="pull-right hidden col-md-8 btn btn-info" data-dismiss="modal"></div><div class="clearfix"></div>', { id: 'capture', link: { text: 'Prendre une photo', icon: 'camera', class: 'success' } }) }}
    {{ jsHtml('webcam') }}
    
    <script>
        $(document).ready(function($){
            Webcam.set({
                width: 550,
                height: 400,
                image_format: 'jpeg',
                jpeg_quality: 90
            }); Webcam.attach( '#captureZone' );
            $('#reset-camera').click(function(){
                $('#charr').hide(); $('#captureZone').fadeIn(); $('#annuler').addClass('hidden'); $(this).addClass('hidden'); $('#capture_link').removeAttr('disabled').fadeIn();
            });
            $('#capture_link').click(function(){
                Webcam.snap( function(data_uri) {            
                    $('#captureZone').hide(); $('#capture_link').hide(); sounds.shutter.play(); $('#charr').html(chargement).addClass('text-center').fadeIn();
                    Webcam.upload( data_uri, "{{ url('/save_image/true') }}", function(code, reponse) {
                        if (code === 200){
                            photoOptions['loadPicture'] = reponse;      
                            photoOptions['enableMousescroll'] = true;
                            photoOptions['onReset'] = function(){
                                $('#boutons').show();
                                delete(photoOptions['loadPicture']);
                                $('.cropControlCrop').attr({
                                    title: "Rogner l'image",
                                    rel  : 'tooltip'
                                }); $('.cropControlReset').attr({
                                    title: "Supprimer cette image",
                                    rel  : 'tooltip'
                                }); $('#photo').val(''); $('#affichage').hide(); $('#boutons').fadeIn();
                            }                      
                            $('#charr').html('<img src="' + reponse + '" style="width:100%; height: 350px" />')
                            $("#capture_link").hide(); $('#annuler').html('Continuer <i class="glyphicon glyphicon-arrow-right"></i>').removeClass('hidden'); $('#reset-camera').removeClass('hidden').fadeIn();
                            new Croppic('profile', photoOptions);
                            //$('#profile').html('<img src="' + reponse + '" style="width:100%; height: 250px" />').fadeIn();
                        } else {
                            $('#photo').val(''); $('#charr').text("Une erreur est survenue. Veuillez réessayer."); $('#annuler').html('Annuler <i class="glyphicon glyphicon-remove"></i>').removeClass('hidden').fadeIn(); $('#reset-camera').removeClass('hidden').fadeIn();
                        }
                       $('#capture_link').removeAttr('disabled');
                    } );	
                } );
            });

        })
    </script>
{% endblock %}