{# 
/**
* delete.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}

{% extends 'layout.html' %}

{% block navbar %}
    {{ parent() }}
    <span class="list-group-item active">Supprimer un agent</span>
{% endblock %}

{% block corps %}

    <h3 class="center">Voulez - vous vraiment supprimer : "<strong>{{ user.nom ~ " " ~ user.prenom | capitalize }}</strong>" ?</h3>
    <form method="post">
        <p class="center">
            <button type="submit" class="btn btn-danger">
                {{ "Supprimer"|icon('trash') }}
            </button>
            {{ linkHtml('/users', "Annuler" | icon('arrow-left'), { class: "btn btn-warning" }) }}
        </p>
    </form>

{% endblock %}