{# 
/**
* edit.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}

{% extends 'layout.html' %}

{% import 'form.html' as form %}

{% block css %}
    {{ cssHtml('croppic') }}
    {{ jsHtml('croppic.min') }}
{% endblock %}

{% block corps %}
<br>
<form method="post">
    <div class="row">
        <div class="form-group">
            {% if user.photo %}
            <div class="col-md-2">
                {{ imgHtml(user.photo, { class: 'thumbnail img-edit', id: 'user-photo'}, 'profile') }}
            </div>
            {% endif %}
            <div class="col-md-3">
                {% if user.photo %}
                <div class="btn btn-danger" id="profile_remove" style="margin-bottom: 5px">
                    {{ icon('trash') }} Enlever la photo
                </div>
                {% endif %}
                <div class="btn btn-primary" id="profile_btn">
                    {{ icon('user') }} 
                    {% if user.photo %}
                    Modifier la photo
                    {% else %}
                        Ajouter une photo de profile
                    {% endif %}
                </div>
                <div class="profile" id="profile" style="display: none; height: 250px; width:250px; border: 2px solid #022a50;"></div>
            </div>
            <input type="hidden" name="photo" id="photo">
            <div class="clearfix"></div>
        </div>
        {{ form.input('nom', "Nom", user.nom, { ph: "Nom de l'agent", rq: true }) }}
        {{ form.input('prenom', "Prénom", user.prenom, { ph: "Prénom de l'agent", rq: true}) }}
        {{ form.input('password', "Mot de passe", null, { type: 'password', ph: "Mot de passe" }) }}
        {{ form.input('confirm_password', "Confirmation mot de passe", null, { type: 'password', ph: "Mot de passe de confirmation" }) }}
       
        {# Champs reserver a non agent #}
        {% if currentUser('role') != R_AG %}
            {{ form.input('username', "Nom d'utilisateur", user.username, { rq: true, ph: "Nom d'utilisateur (pour la connexion)" }) }}
            {{ form.input('fonction', "Fonction de l'agent", user.fonction, { rq: true, ph: "Fonction de l'agent" }) }}        
            {{ form.select('role', "Type d'utilisateur", roles, user.role, { rq: true }) }}
        {% endif %}
        {{ form.input('email', "Email", user.email, { type: 'email', ph: "Adresse E-mail" }) }}
        {{ form.input('phone', "Telephone", user.phone, { type: 'phone', ph: "Numero de telephone" }) }}
        {{ form.input('adresse', "Adresse", user.adresse, { ph: "Adresse" }) }}

        {# Pour R_MA et R_GE #}
        {% if(currentUser('role') == R_MA or currentUser('role') == R_GE) %}
            {{ form.select('entreprise_id', "Entreprise", entreprises, entreprise_id) }}
        {% endif %}
        
        
        <div class="form-group col-md-12">
            <hr>
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-save"></i>
                Modifier
            </button>
            {{ linkHtml('/users', "Annuler" | icon('arrow-left'), { class: "btn btn-danger"}) }}
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    idname = 'profile'
    profilb = 'profile_btn'
    ajouter = '{{ icon("user") }} Ajouter une photo de profile'
    var photoOptions = {
        uploadUrl:'{{ url("/picture_save") }}',
        cropUrl:'{{ url("/picture_crop") }}',
        imgEyecandy:false,
        customUploadButtonId: profilb,
        doubleZoomControls:false,
        loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
        onAfterImgUpload: function(){ 
            $('#' + idname).fadeIn();
            $('#profile_remove').hide();
        },
        onReset: function(){ 
            $('#' + idname).hide();
            $('#' + profilb).show();
            $('.cropControlCrop').attr({
                title: "Rogner l'image",
                rel  : 'tooltip'
            });
            $('.cropControlReset').attr({
                title: "Supprimer cette image",
                rel  : 'tooltip'
            });
            $('#photo').val('');
            $('#profile_remove').show();
        },
        onAfterImgCrop: function(e) { 
            $('#' + profilb).hide()
            $('.cropControlRemoveCroppedImage').attr({
                title: "Supprimer cette image",
                rel  : 'tooltip'
            });
            $('#photo').val(e.name);
        },
        onError: function(e) { alert('Erreur: ' + e); }
    };
    var photo = new Croppic(idname, photoOptions);
    $('#profile_remove').click(function(e){
        $(this).hide();
        $('#photo').val('aucune');
        $('#user-photo').parent().hide();
        $('#profile_btn').html(ajouter)
    });
    </script>
{% endblock %}