{# 
/**
* liste.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}

{% extends 'layout.html' %}

{% block corps %}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            {{ title }}
            {# <span class="btn btn-primary btn-xs pull-right" rel="tooltip" title="Imprimer" id="imprimer">
                {{ icon('print') }}
            </span> #}
        </div>
    </div>
    <div class="navbar-fixe">
        <table class="table table-striped">
            <thead>
                <th>{{ "Noms" | icon('user') }}</th>
                <th>{{ "Attributs" | icon('cog') }}</th>
                <th>{{ "Fonctions" | icon('flag') }}</th>
                <th imprimer="hide">{{ "Actions" | icon('screenshot') }}</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> 
                        {{ imgHtml(user.photo | default('avatar.jpg'), { class: 'img-user' }, 'profile') }}
                        {{ user.nom | capitalize }} {{ user.prenom | capitalize }} 
                    </td>
                    <td> {{ user.role == 'admin' ? 'Administrateur' : 'Agent' }} </td>
                    <td> {{ user.fonction ?: 'Aucune' }} </td>
                    <td imprimer="hide">
                        {{ linkHtml('/users/profile/'   ~ user.id, "" | icon('zoom-in'), { class: "btn btn-xs btn-primary", rel: 'tooltip', title: "Voir les details" }) }}
                        {{ linkHtml('/users/modifier/'  ~ user.id, "" | icon('edit'),    { class: "btn btn-xs btn-success", rel: 'tooltip', title: "Modifier" }) }}
                        {{ linkHtml('/users/supprimer/' ~ user.id, "" | icon('trash'),   { class: "btn btn-xs btn-danger",  rel: 'tooltip', title: "Supprimer" }) }}
                        {{ linkHtml('/journal/' ~ user.id, "" | icon('list'),   { class: "btn btn-xs btn-warning",  rel: 'tooltip', title: "Journal de l'agent" }) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 

    </div>
</div>
{# <hr>
<div class="form-group">
    {{ linkHtml('/creer_agent', 'Ajouter un agent' | icon('plus'), { class: 'btn btn-primary' }) }}
</div> #}

{% endblock %}