{# 
/**
* login.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}

{% extends 'layout.html' %}

{% import 'form.html' as form %}

{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-5">
        <form method="post" accept-charset="UTF-8">
            {{ form.input('username', 'Username', null, { class: 'col-md-12', ph: "Nom d'utilisateur", rq: true, af: true }) }}
            {{ form.input('password', 'Mot de passe', null, { class: 'col-md-12', type: 'password', ph: "Mot de passe", rq: true }) }}
            
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary"> Connexion </button>
            </div>
        </form>
    </div>
</div>


{% endblock %}