{% extends 'layout.html' %}

{% block corps %}

{# {% endblock %}

{% block df %} #}
{#
/**
* Template file
* @author Souvenance Kavunga (skavunga@gmail.com, +243896358335)
* @link skatek.esy.es
* @license  MIT License (http://www.opensource.org/licenses/mit-license.php)
* @copyright Skatek Corporation 2017
*/
#}

{% block css %}
    {{ cssHtml('croppic') }}
    {{ jsHtml('croppic') }}
{% endblock %}
 
<div class="col-md-3 text-center">
    <a class="btn btn-file" id="choiseImg">
    <p>
        {{ "" | icon('leaf') }}
        Charger une image
    </p>
        <span id="image"></span>
    </a>
    <div id="photoo" style="display: none; height: 250px; width:250px; border: 2px solid #022a50;"></div>  
</div>
{% endblock %}

{% block scripts %}
<script>
    var photoOptions = {
        uploadUrl:'{{ url("/picture_save") }}',
        cropUrl:'{{ url("/picture_crop") }}',
        imgEyecandy:false,
        customUploadButtonId: 'choiseImg',
        doubleZoomControls:false,
        loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
        onAfterImgUpload: function(){ $('#photoo').fadeIn() },
        onReset: function(){ 
            $('#photoo').hide()
         },
        onAfterImgCrop: function(e) { 
            //alert(e.name)
        },
        onError: function(e) { alert('Erreur: ' + e); }
    };
    var photo = new Croppic('photoo', photoOptions);
    </script>
{% endblock %}