{# 
/**
* profile.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/    
#}

{% extends 'layout.html' %}

{% block header %}
<h1>
    {{ imgHtml(user.photo | default('avatar.jpg'), { class: 'img-journal' }, 'profile')  }}
    {{ title }}
</h1>
{% endblock %}

{% block corps %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            {{ title }}
            <span class="btn btn-primary btn-xs pull-right" id="imprimer" title="Imprimer" rel="tooltip">
                {{ icon('print') }}
            </span>
        </div>
    </div>
    <table class="table table-striped">
        {# <tr>
            <td colspan="2" class="text-center">
                {{ imgHtml(user.photo, { class: 'thumbnail' }, 'profile') }}
            </td>
        </tr> #}
        <tr>
            <th>Nom</th>
            <td> {{ user.nom }} </td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ user.prenom }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td> <strong>{{ user.username }}</strong> </td>
        </tr>
        <tr>
            <th>Mot de passe</th>
            <td>********************</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                {{ user.email ?: "Aucune" }}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                {{ user.email ?: "Aucune" }}
            </td>
        </tr>
        <tr>
            <th>Fonction</th>
            <td>{{ user.fonction ?: "Aucune" }}</td>
        </tr>
        <tr>
            <th>Attribut</th>
            <td> {{ user.role == 'admin' ? "Administrateur" : "Agent" }} </td>
        </tr>
    </table>
    <hr>
    <div class="form-group container">
        {{ linkHtml('/users/modifier/' ~ user.id, 'Modifier le profil' | icon('edit'), { class: 'btn btn-primary' }) }}
    </div>
</div>
{% endblock %}