{# 
 /**
* layout.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/ 
 #}
 {% import "macros.html" as m %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link href="{{ imgUrl('TL.png') }}" type="image/x-icon" rel="icon"/> -->
    <!-- <link href="{{ imgUrl('TL.png') }}" type="image/x-icon" rel="shortcut icon"/>    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title> {{ title|default(software) }} | {{ software }}</title>
    {% endblock %}

    {% if app_theme is not null and app_theme != 'default' %}
      {{ cssHtml('bootstrap.min') }}
      {{ cssHtml('themes/bootstrap-' ~ app_theme ~ '.min') }}
    {% else %}
      {{ cssHtml('bootstrap-cerulean.min') }}
    {% endif %}

    {{ cssHtml('jumbotron') }}
    {{ cssHtml('styles') }}
    {{ jsHtml('jquery.min') }}

    {% block css %}{% endblock %}

  </head>

  {% set bgimage = url('/assets/img/logo6.png') %}

  <body>
    {{ renderFlash() }}
    {% block navmenu %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Web Explorer</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% block menu %}
              <li class="{{ activeClass('/') }}" > {{ linkHtml('/', 'Accueil') }} </li>
              <li > 
                <a href="/phpmyadmin">PhpMyAdmin</a>  
              </li>
              {% endblock %}
            </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% endblock %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          {% block header %}
          <h1>Hello, world!</h1>
          <p> 
            Ceci est une page d'exemple. Vous pouvez le remplacer en creeant vos propres trucs. Etendez vos templates Twig pour qu'ils heritent de ce layout et créer des routes pour différents
            controller et acions de votre application.
            Cette page est généré automatique par <strong>Skatek Corporation</strong>.
          </p>
          {% endblock %}
        </div>
      </div>
    <div class="container">
      {% block content %}
      <div class="row">
        <div class="col-sm-3" id="navbar-g">
          <div class="list-group">
              {% block navbar %}
                {{ linkHtml('/', 'Page d\'accueil', { class: 'list-group-item active' }) }}
              {% endblock %}
          </div>
        </div>
        <div class="col-sm-9 imprimer-zone">
          {% block corps %}
              <h2 class="header">Contenu</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsam, explicabo, nobis tempore earum distinctio inventore ab laudantium unde ducimus accusantium nostrum quo similique quisquam culpa porro quos corrupti hic?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis consectetur nulla eius nobis, tempore minima vel maxime illum fuga et reiciendis, eum delectus impedit obcaecati omnis perferendis corrupti. Consectetur.
              </p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, omnis? Debitis eveniet, totam, praesentium aliquam, expedita consequatur nihil et pariatur cumque nam quaerat labore eos? Expedita natus in labore saepe? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga aut esse veritatis. Doloremque, nemo consequatur labore voluptas, in quae, omnis repudiandae ducimus incidunt saepe maxime nostrum ea cum nesciunt?</p>
              {% block baspage %}{% endblock %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}

      <hr>
      <footer>
        {% block footer %}
            <p class="text-center">&copy; Copyright 2018, {{ linkHtml('/apropos', software, { rel: 'tooltip', title: 'A propos' }) }} powered by {{ linkHtml('/skatek', 'Skatek Corporation', { rel: 'tooltip', title: 'A propos de Skatek Corporation' }) }} </p>
        {% endblock %}
      </footer>   
      {% block beforefooter %}{% endblock %}   
    </div> <!-- /container -->
    <audio src="{{ url('/assets/snap.wav') }}" id="shutter"></audio>    
    {{ jsHtml('bootstrap.min') }}
    {{ jsHtml('scripts') }}
    <script>
        audio = document.querySelectorAll('audio'), sounds = { shutter: audio[0] }, astuce = '<div class="alert alert-info"> Veuillez regarder le webcam puis cliquer sur le boutton <strong>{{ icon("camera") }}</strong> pour faire la capture.</div>',image = '<img src="' + "{{ url('/assets/img/loader/load.gif') }}"  + '" alt="Chargement" />', chargement = '<div class="alert alert-info">' + image + '<br>Veuillez patienter jusqu\'à la fin du traitement de l\'image.</div>';
    </script>
    {% block scripts %}{% endblock %}
    {{ jsHtml('jquery.jqprint-0.3') }}
    <script>
      docReady();
      function docReady(){
        $('[rel=tooltip]').tooltip();
        jQuery.browser = {};
        imprimer = $('.imprimer-zone');
        title_html = $('.panel-title').html();
        title_text = $('.panel-title').text();
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
        $(function($){
            $('#imprimer').click(function(event){
              event.preventDefault();
              $('[imprimer=hide]').hide();
              $('.panel-title').text(title_text + " | {{ software }}");
              imprimer.find('a').hide(); $('[role=tooltip]').remove();
              imprimer.removeClass('col-md-9 col-sm-9').addClass('col-md-12');
              //$(".imprimer-zone").jqprint();
              imprimer.jqprint({ operaSupport: true });
              imprimer.removeClass('col-md-12').addClass('col-md-9'); $('[imprimer=hide]').show();
              imprimer.find('a').fadeIn();
              $('.panel-title').html(title_html);
              docReady();
            });
        });
      }

    </script>
  </body>
  </html>