/**
* styles.css
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/
.image-head {
    width: 80%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.center {
    text-align: center;
}

.jumbotron {
    padding: 0;
}

.btn-gros{
    height: 5em;
    padding-top: 1.9em;
}

.underline{
    text-decoration: underline;
}

/* body{
    background: black;
} */

.contenu-b {
    background-color: rgba(1, 78, 151, 0.08);
    border       : 1px solid #dddddd;
    border-radius: 3px;
}
.cropControls {
    top: 0 !important;
}

#app-n {
    padding: 0px;
}

.img-logo {
    width: 140px;
}
.img-user {
    width: 30px;
    border-radius: 50%;
}
.img-journal {
    width: 90px;
}
.img-edit {
    width: 100%;
}
.date-c {
    margin: inherit;
}

.navbar-fixe {
    height: 23.5em;
    overflow: auto;
}

.h-28px {
    height: 28px;
    padding: 5px;
}

.page-header{
    margin: 10px;
}

.chargement {
    padding-top: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.jumbotron {
    background: #033c73;
    color: white;
    text-align: center;
}

.panel{
    border-color: #033c73 !important;
}

.btn-photo {
    border-radius: 50%;
    vertical-align: middle;
    height: 5.6em;
}

.modal-content {
    background-color: #022a50;
    border: 1px solid white;
    color: white !important;
}

.modal-content h3, .modal-content button {
    color: white;
}