
{% block corps %}
    <h2 id="qui-sommes-nous">Qui sommes - nous ?</h2>
    <p>
        Nous sommes une entreprise <i>(Agence Web Créative, Etablissement, Entreprise, Startup, Centre de Formation professionnel, etc.)</i>
        réconnu par l'Etat RD Congolais sous le numéro d'identification national <strong>01-93-N29428F</strong> et enregistré au registre du commerce et du crédit mobilier 
        au numéro <strong>CD/KNM/RCCM/18-A-00229</strong>.
    </p>
    <p> Développement des solutions informatiques <i>(Hébergement Web, Nom de domaine, Programmes, Logiciels, Site Web, Applications, toutes catégories et de toutes envergures)</i> destinés à différents types des 
        terminaux <i>(Mobiles, Desktop, IOS, etc.)</i> pour les individus, les entreprises, les organisations, etc.
    </p>
    <p>
        Etudes et réalisations des réseaux informatiques et de télécommunication, maintenance des systèmes éléctronique et informatiques,
        Graphisme, Audio - Visuel, Renforcement des capacités dans le domaine informatique, Formations, etc.
    </p>
    <h2 id="nos-contacts">Nos contacts</h2>
    <p>
        Sentez-vous entièrement libre de nous appeler, de nous écrire, n'importe quand, si cela
        n'est pas pour des raisons inutiles. Et surtout si vous rencontrer des problèmes d'utilisation
        avec nos produits <i>(Logiciels, Programmes, Sites Web, etc.)</i> ou si vous avez besoins de nous. N'hésitez surtout pas. Voici donc nos contacts :
        <table class="table">
            <tr>
                <td>Téléphones</td>
                <td><a href="tel:+243896358335">+243 89 63 58 335</a> <i>(Whatsapp, Messenger, Appel, SMS)</i> <br> <a href="tel:+243827855067">+243 82 78 55 067</a> <i>(Appel, SMS, Autres)</i> </td>
            </tr>
            <tr>
                <td>Site Web</td>
                <td><a href="http://www.skatek.net">http://www.skatek.net</a></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><a href="mailto:contact@skatek.net">contact@skatek.net</a></td>
            </tr>
            <tr>
                <td>Siège</td>
                <td>147, Rue Lukaya, Quartier NSANGA, Commune de KIMBANSEKE, Kinshasa RDC</td>
            </tr>
        </table>
    </p>
{% endblock %}